<h1> Edit video</h1>
<%= form_with model: @lab_video, url: lab_video_path(@lab_video.id) do |f|%>
  <%=f.label :url%>
  <%=f.text_field :url%><br/>

  <%=f.submit%>
<%end%>

<%= button_to "Delete", lab_video_path(@lab_video.id), class: "btn btn-danger m-5", method: :delete, data: {turbo_confirm: "Are you sure? This action can't be reveresed"}%>