<h1> Create new sub section</h1>
<%= form_with model: @lab_sub_section, url: lab_section_lab_sub_sections_path(@lab_sub_section.lab_section.id) do |f|%>
  <%=f.label :name%>
  <%=f.text_field :name%><br/>

  <%=f.label :logo%>
  <%=f.file_field :logo%><br/>

  <%=f.submit%>
<%end%>