<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width:fit-content">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="height:80vh">
        <img id="modalImage" style="max-width: 100%;height: 100%;object-fit: contain" src="/assets/nature.jpeg">
      </div>
      <%# <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> %>
    </div>
  </div>
</div>



<div class="container">
  <h1><%= @section.title.capitalize%></h1>
  <hr/>

  <div class="container">
    <div id="accordion">

      <% @section.anatomy_sub_sections.each_with_index do |sub_section, i|%>
        <div class="card">
          
          <div class="card-header">
            <a class="btn" data-bs-toggle="collapse" href="#collapse<%=i%>">
              <%=sub_section.title%>
            </a>
          </div>
          
          <div id="collapse<%=i%>" class="collapse " data-bs-parent="#accordion">
            <div class="card-body">
              <div class="container">
                <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img class="img-fluid rounded-3" src="/assets/nature.jpeg">
                      </button>  
                    </div>
                  <% 5.times do %>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img class="img-fluid rounded-3" src="/assets/image.webp">
                      </button>  
                    </div>
                  <% end %>
                  <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <img class="img-fluid rounded-3" src="/assets/nature.jpeg">
                    </button>  
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </div>
      <% end%>

    </div>
  </div>
</div>

<%= javascript_include_tag "modal.js"%>